@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poiret+One&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
     font-family: "Mulish", sans-serif;
}

main {
    background-color: #111111;
    padding: 3% 0;
}

main {
    min-height: 80vh;
}

header {
    background-color: #000000;
    border-bottom: #0f886c 2px solid;
    color: white;
}

.currencyZone {
    gap: 30px;
    background-color: #1C1C1C;
    width: 80%;
    margin: 3% auto;
    padding: 2%;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}

#coinsBalance {
    color: white;
}

.currencyCard {
    background-color: #262626;
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 30px;
    text-align: center;
    padding: 2% 0;
    border-radius: 10px;
      box-shadow:
    5px 4px rgba(0,0,0,0.12),
    10px 9px 10px rgba(0, 0, 0, 0.1);        

}

.currencyCard div, .currencyCard h2 {
    color: #ffffff;
}

.ccardBuy, .ccardSell {
    display: flex;
    flex-direction: column;
}

.head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1% 0;
}

.buySellCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.ccardBuy, .ccardSell {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.buy-sellButton {
    color: #fff;
    font-size: 20px;
    padding: 10px 25px;
    background-color: #096852;
    border: 2px #0d5846 solid;
    transition: 0.3s ease-out;
    box-shadow: 2px 2px  rgba(0, 0, 0, 0.2);
}

button:hover {
    box-shadow: 4px 4px 1px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
    cursor: pointer;
}

.ccinput {
    width: 50%;
    height: 36px;
    font-size: 20px;
    border: none;
    height: auto;
    outline: none;
    margin: 0 auto;
    text-align: center;
}

.ccinput::placeholder {
    font-size: 11px;
}

h1 {
    padding: 20px 100px;
}

#euroChangeImg {
    width: 64px;
    height: 64px;
}

.btnnotall {
    padding: 0;
}

.baviable {
    transition: 0.2s ease-out;
    font-size: 16px;
    font-weight: 500;
    border: #064b3b solid 2px;
    padding: 10px 20px;
    background-color: #0f886c;
}


.unbaviable:hover {
    cursor: default;
    transform: none;
}

.unbaviable {
    transition: none;
    transition: 0.2s ease-out;
    font-size: 16px;
    font-weight: 500;
    border: #064b3b solid 2px;
    padding: 10px 20px;
    background-color: #0f886c;
}

.buyBuisness {
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    transition: 0.5s ease-out;
    transform: translateX(-100%);
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    pointer-events: none;
}

.infoBuro {
     z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    transition: 0.5s ease-out;
    transform: translateX(-100%);
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    pointer-events: none;
}

.buisness {
    padding: 2% 5% 2% 5%;
}

.overlay1cont {
    width: 90%;
    height: 90%;
    background-color: #1c1c1c;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.overlay2cont {
    width: 60%;
    height: 90%;
    background-color: #1c1c1c;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.buisnessUpgrade {
    z-index: 1;
    padding: 1% 0 1% 5%;
    position: relative;
}

.buyBuisness.is-open, .infoBuro.is-open {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
}

.kolomoyskiyShop {
    padding-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1%;
}

.kolomoyskiyimg {
    width: 64px;
    height: auto;
}

.shops {
    padding: 0 5%;
}

.shop-button {
    transition: 0.2s ease-out;
    border: 2px solid #064b3b;
    background-color: #096852;
    border-radius: 2px;
    padding: 5px 10px;
}

.headeroverlay1 {
    display: flex;
    align-items:center;
    justify-content:space-between;
}

.headeroverlay2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
}

#closeOverlay1, #closeOverlay2 {
    transition: 0.2s ease;
    color: white;
    width: 64px;
    height: 64px;
    font-size: 32px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
}

.textline {
    
    text-align: center;
    border: 2px black solid;
    width: 40%;
    background-color: rgb(231, 231, 231);
    padding: 5px 0;
    margin: 0 auto;
}

.overlay1cont::after {
  content: "";
  position: absolute;
  inset: 0;      
  background-image: url(images/BuyBuisness.png);              
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,0.35); 
  background-blend-mode: overlay;    
  opacity: 0.25;               
  pointer-events: none;      
  z-index: 0;                  
}

.overlay2cont::after {
  content: "";
  position: absolute;
  inset: 0;      
  background-image: url(images/InfoBuroClearBG.png);              
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,0.35); 
  background-blend-mode: overlay;    
  opacity: 0.25;               
  pointer-events: none;      
  z-index: 0;                  
}

.infoBuroSection {
    z-index: 1;
    position: relative;
}

.buisness {
  position: relative; 
  z-index: 1;
}

.h2ho1 {
    color: white;
    padding-bottom: 1.5%;
}

.none {
    display: none;
}

.blackText {
    color: black;
}

#closeOverlay1:hover, #closeOverlay2:hover {
    box-shadow: none;
    transform: scale(1);
}

.infosections {
    color: #fff;
    padding: 1% 5% 0 5%;
}

.insfp::first-letter {
 padding-left: 2%;
}

.insfh3 {
    padding: 1% 0;
}

@media screen and (max-width: 767px) {
    .currencyZone {
        flex-direction: column;
    }

    .currencyCard {
        width: 100%;
    }

    h1 {
        padding: 10px 20px;
        text-align: center;
    }

    .buisness {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .headeroverlay1 {
        justify-content: space-between;
    }

    #closeOverlay1 {
        width: 32px;
        height: 32px;
        font-size: 16px;
    }

     .headeroverlay1 {
    justify-content: space-between;
    display: flex;
    width: 100%;
    }

    .buSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .overlay2cont {
        width: 90%;
    }
}




